<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Template</title>
    <link rel="shortcut icon" href="/resources/MakeTankiBetter_logo.svg">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="style.css">
    <meta name="theme-color" content="#ff0000">
  </head>
  <body>
    <h1>HEADER 1</h1>
    <h2>HEADER 2</h2>
    <h3>Header 3</h3>
    <div class="menu">
      <span>!Selected</span>
      <span>!Child</span>
      <span>!Unselected</span>
    </div>
    <img>
    <button class="primary">Primary button</button>
    <h4>Text 1</h4>
    <h5>Text 2</h5>
    <h6>Text 2</h6>
    <button class="exit"></button>
    <button class="secondary">Secondary button</button>
    <p>Description for the image and <a href="../">link</a>!</p>
  </body>
</html>
