<!DOCTYPE html>
<html><head>
    <meta http-equiv="Content-Type" content="charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Template</title>
    <link rel="shortcut icon" href="/resources/MakeTankiBetter_logo.svg">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="style.css">
    <meta name="theme-color" content="#ff0000">
  </head>
  <body>
    <h1>HEADER 1</h1>
    <h4>Text 1</h4>
    <h2>Header 2</h2>
    <h5>Text 2</h5>
    <h3>Header without text (or important text part)</h3>
    <a href="../">Link!</a>
    <div class="menu">
      <span class="selected">!Selected</span>
      <span class="parent">!Parent</span>
      <span class="unselected">!Unselected</span>
    </div>
    <button class="exit"></button>
    <button class="primary">Primary button</button>
    <button class="secondary">Secondary button</button>
    <img>
    <hr>
    <p>Description for images</p>
  </body>
</html>
