body {
  margin: 0 10px;
  width: calc(100vw - 30px);
  min-width: 884px;
  display: grid;
  grid-template-columns: 614px 260px;
  gap: 10px;
  overflow: overlay;
  align-items: center;
  letter-spacing: -0.35px;
}
h1{
    font: 70px 'Uni Sans Special';
    color: red;
    margin: 0;
    width: fit-content;
    height: fit-content;
}
h1::selection{color:white;background:red;}
h2{
    font: 700 70px 'Roboto';
    color: red;
    margin: 0;
    height: fit-content;
    width: fit-content;
}
h3{
    font: 500 30px 'Roboto';
    color: white;
    padding: 2px 5px;
    background: red;
    width: fit-content;
    margin: 0;
    height: fit-content;
    text-decoration: underline red;
}
h3::selection{text-decoration-color: #fff;}
h4{
    font: 500 18px 'Roboto';
    color: red;
    margin: 0;
    height: fit-content;
    width: fit-content;
}
h5{
    margin: 0;
    color: white;
    font: 300 14px 'Roboto';
    width: fit-content;
    height: fit-content;
}
a{
    font: 500 14px 'Roboto';
    color: red;
    height: fit-content;
    width: fit-content;
    background-color: #0000;
}
a:hover {
    color: white;
}
a::selection{background:#00f;color:#fff;}
span{
    font: 500 20px 'Roboto';
    padding: 1px 4px;
}
.selected {
    background: red;
    color: white;
    cursor: default;
}
.parent {
    background: red;
    color: white;
    cursor: pointer;
    text-decoration: underline red;
    transition: 0.2s ease-in-out text-decoration-color;
}
.menu {
    display: flex;
    height: 26px;
    width: fit-content;
    user-select: none;
    -moz-user-select: none;
}
.unselected {
    background: #ff000040;
    color: red;
    text-decoration: underline #501010;
    transition: 0.2s ease-in-out text-decoration-color;
    cursor: pointer;
}
.parent:hover {
    text-decoration-color: white;
}
.unselected:hover {
    text-decoration-color: red;
}
.exit{
    background: linear-gradient(-45deg, transparent 47.5%, white 47.5%, white 52.5%, transparent 52.5%) center center / cover, linear-gradient(45deg, transparent 47.5%, white 47.5%, white 52.5%, transparent 52.5%) center center / cover, #ff0000;
    border-radius: 50%;
    border: 8px solid red;
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
}
.primary{
    width: fit-content;
    font: 500 30px 'Roboto';
    color: white;
    background: red;
    border-radius: 8px;
    border: 3px solid red;
    text-decoration: underline 3px red;
    transition: 0.2s ease-in-out text-decoration-color;
    cursor: pointer;
    letter-spacing: -0.35px;
    user-select: none;
    -moz-user-select: none;
}
.primary:hover {
    text-decoration-color: white;
}
.secondary{
    width: fit-content;
    font: 500 30px 'Roboto';
    color: red;
    background: none;
    border-radius: 8px;
    border: 3px solid red;
    text-decoration: underline 3px #161616;
    transition: 0.2s ease-in-out text-decoration-color;
    cursor: pointer;
    letter-spacing: -0.35px;
    user-select: none;
    -moz-user-select: none;
}
.secondary:hover {
    text-decoration-color: red;
}
:is(.secondary, .primary):focus-visible {
    outline: none;
    box-shadow: 0 0 10px 0 #f00;
}
img{
  width: 400px;
  height: 300px;
  margin: 0 auto;
  grid-column-start: 1;
  grid-column-end: 3;
  background: black;
  user-select: none;
  -moz-user-select: none;
}
hr {
    width: 400px;
    height: 1px;
    background: red;
    margin: 0 auto;
    padding: 0 2.5%;
    border: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}
p{
  text-align: center;
  font: 300 14px 'Roboto';
  color: red;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0;
}
