body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 10px 20px;
}
article {
    padding: 16px 1.5em;
    display: flex;
    min-height: calc(100vh - 8em);
    width: 700px;
    border: 1px solid #53565a;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}
article h1 {
    font: 4.375em/1em 'Uni Sans Special';
    margin: 0;
    color: #d4d8de;
}
article h2 {
    font: 500 1.375em var(--font);
    margin: 0;
    color: #d4d8de;
}
article h3 {
    text-align: justify;
    background: inherit;
    font: 500 1em var(--font);
    color: #d4d8de;
    margin: 5px 0;
}
h1::selection, h2::selection, h3::selection{background:#e02e2ebf;color:#d4d8de}
a {color: #7b828a;}
:not(:is(.nav, .lang)) > a:not(.install):hover {color: white;}
hr {
    width: 100%;
    background: #53565a;
    border: 0;
    height: 1px;
    margin: 6px 0;
}
article li {
    margin: 0;
    font: 700 1em var(--font);
    color: #d4d8de;
    text-transform: lowercase;
}
aside li::marker{content: '';}
article img {
    width: 100% !important;
    margin: 0 auto;
    user-select: none;
}
article p {
    font: 300 0.815em var(--font);
    width: calc(100% - 5em);
    margin: 3px auto -3px;
    color: #7b828a;
    text-align: center;
}
aside section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    border: 1px solid #53565a;
    padding: 10px;
    box-sizing: border-box;
}
aside {
    display: flex;
    height: fit-content;
    flex-direction: column;
    gap: 10px;
    position: sticky;
    top: 56px;
    width: 280px;
}
aside h1 {
    font: 700 1.375em var(--font);
    margin: 0 0 6px;
    color: #d4d8de;
}
aside li {margin: 0 0 6px;}
aside li:last-child {margin: 0;}
aside li a {font: 500 1em var(--font);}
.install {
    padding: 0.05em 0.25em;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font: 500 1.5em var(--font);
    color: #d4d8de;
    background: #e02e2e;
    border-radius: 8px;
    border: 0.125em solid #e02e2e;
    text-decoration: underline #e02e2e;
    transition: 0.2s ease-in-out text-decoration-color;
    cursor: pointer;
    user-select: none;
}
.install:hover {text-decoration-color: currentColor;}
/*Adaptive UI*/
@media screen and (max-width: 1030px) {
    body{flex-direction: column;}
    article {
        width: calc(100vw - 30px);
        min-width: calc(100vw - 30px);
        margin: 0 auto;
    }
    aside{
        margin: auto;
        position: relative;
        top: 0;
        width: calc(100vw - 30px) !important;
        flex-direction: column-reverse !important;
    }
}
