@font-face {font-family: "Uni Sans Special"; src:url("/website/resources/Uni Sans Special.ttf") format("truetype");}
#modal {
    width:100%;
    height:0;
    z-index:9;
    position:relative;
}
#status:target{display: flex;}
#flag:target ~ content > #modal > .flagChooseLST {display: flex;}
#flag:target ~ content > header > #flagChooseBTN {display: none;}
#flag:target ~ content > header > #flagChooseBTN_ACTIVE {display: flex;}
#flagChooseBTN_ACTIVE{
    display:none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.statuspage{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: max-content;
    flex-direction: column;
    z-index: 9;
}
iframe {
    width: 720px;
    height: 204px;
    border: 1px solid #ffffff1a;
}
.exit {
    background: linear-gradient(45deg, transparent 13px, #fff 13px, #fff 15px, transparent 15px) content-box, linear-gradient(-45deg, transparent 13px, #fff 13px, #fff 15px, transparent 15px) content-box, #eb5757;
    transform: scale(0.8);
    border: 4px solid #eb5757;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.exit:hover {
    background-color: #ee8484;
    border-color: #ee8484;
}
.statuspage:before{
    content:'';
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: #00000080;
    z-index:-1;
}
.flagChooseLST {
    background: rgba(0,25,38,0.902);
    backdrop-filter: blur(0.313em);
    display: none;
    flex-flow: column;
    gap: 1px;
    position: absolute;
    box-sizing: border-box;
    top: calc(4em + 3px);
    right: 1.25em;
    width: 5em;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    border: 1px solid #ffffff40;
    z-index: 1;
}
.flagChooseLST > a:hover{background-color: #ffffff1a;}
.flagChooseLST > a::before {
    content: '';
    background: var(--flag) center / 1.5em no-repeat;
    width: 1.5em;
    height: 2em;
}
.flagChooseLST > .usa:after{content:'EN';}
.flagChooseLST > .rus:after{content:'RU';}
#flagChooseBTN_ACTIVE:after{transform: rotate(180deg);}
#show{display: flex;}
body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    color: #fff;
    position: relative;
    background: radial-gradient(50% 100% at 50% 100%, #395673 0%, #001926 100%);
    font-family: 'Rubik';
}
@supports(height: 100dvh) {
    body {height: 100dvh;}
}
content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column;
    place-content: space-between;
    font-size: inherit;
}
.flagChooseLST > a, flag {
    display: flex;
    height: 2em;
    width: 100%;
    padding: 0 0.7em;
    cursor: pointer;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}
flag {
    background-position: left center !important;
    padding: 0;
    background: var(--flag) center / 1.5em no-repeat;
    width: 1.5em;
    height: 2em;
}
:is(.flagChooseLST > a, flag).usa{--flag: url('/website/resources/usa.png');}
:is(.flagChooseLST > a, flag).rus{--flag: url('/website/resources/rus.png');}
a.MTB {
    font-family: "Uni Sans Special";
    background: #e02e2e;
    text-decoration: none;
    -moz-user-select: none;
    user-select: none;
    width: min-content;
}
a {
    color: #fff !important;
    user-select: auto;
    text-decoration: none;
}
h1 {
    display: flex;
    place-items: center;
    place-content: center;
    position: absolute;
    font: 700 2.5em 'Rubik';
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 0.608em 0;
    margin: 0;
    cursor: default;
    user-select: none;
    pointer-events: none;
}
h2 {
    font-size: 17px;
    margin: 0;
    padding: 8px 10px 4px 10px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}
h3 {
    user-select: none;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 13px;
    margin: 3px;
    margin-left: 1px;
    
}
h3:before {
    content: '>';
    user-select: none;
    font-weight: 400;
    margin: 4px;
    margin-left: 10px;
    font-family: monospace;
}
h4 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 10px;bottom: 0;
    margin: 4px 8px;
    color: #ffffff80;
}
h5 {
    margin: 0;
    margin-top: calc(((100% - 40px) / 3) / 2);
    line-height: 0;
}
header{
    display: flex;
    transition: width 0.2s, height 0.2s;
    height: 6em;
    border-bottom: 1px solid #ffffff40;
    position: relative;
}
.logo{
    width: 6em;
    height: 6em;
    cursor: pointer;
    background: url('/website/resources/icoTankiOnline.svg') center / 8em;
}
.status {
    display: flex;
    flex-flow: column;
    place-content: center;
    place-items: center;
    width: 6em;
    height: 6em;
    cursor: pointer;
    border-left: 1px solid #ffffff40;
    border-right: 1px solid #ffffff40;
    opacity: 0.25;
    pointer-events: none;
}
.status:before {
    content: 'STA';
    cursor: pointer;
    top: 0.65em;
    left: 3.9em;
    font: 100 1.75em 'Rubik Mono One';
}
.status:after {
    content: 'TUS';
    cursor: pointer;
    top: 1.65em;
    left: 3.9em;
    font: 100 1.75em 'Rubik Mono One';
}
.flags {
    display: flex;
    gap: 0.5em;
    place-items: center;
    place-content: center;
    box-sizing: border-box;
    position: absolute;
    top: 1.6245em;
    right: 1.25em;
    width: 5em;
    height: 2.625em;
    cursor: pointer;
    border: 0.063em solid #ffffff40;
    padding: 0 0.7em;
    border-radius: 0.25em;
    text-decoration: none;
    justify-content: space-between;
}
.flags:hover {background: #ffffff1a;}
.flags:after{
    content:'';
    background-color: rgb(191, 213, 255);
    width: 0.813em;
    height: 0.75em;
    -webkit-mask: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KCTxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIgoJCSAgZD0iTTAuMjkyODkzIDIuNzkyODlDMC42ODM0MTcgMi40MDIzNyAxLjMxNjU4IDIuNDAyMzcgMS43MDcxMSAyLjc5Mjg5TDYgNy4wODU3OUwxMC4yOTI5IDIuNzkyODlDMTAuNjgzNCAyLjQwMjM3IDExLjMxNjYgMi40MDIzNyAxMS43MDcxIDIuNzkyODlDMTIuMDk3NiAzLjE4MzQyIDEyLjA5NzYgMy44MTY1OCAxMS43MDcxIDQuMjA3MTFMNi43MDcxMSA5LjIwNzExQzYuMzE2NTggOS41OTc2MyA1LjY4MzQyIDkuNTk3NjMgNS4yOTI4OSA5LjIwNzExTDAuMjkyODkzIDQuMjA3MTFDLTAuMDk3NjMxMSAzLjgxNjU4IC0wLjA5NzYzMTEgMy4xODM0MiAwLjI5Mjg5MyAyLjc5Mjg5WiIKCQkgIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=') center / contain no-repeat;
}
.servers{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto auto;
    gap: 1em;
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    counter-reset: count;
}
.servers a {
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: center;
    box-shadow: #ffffff40 0 0 0 1px;
    border-radius: 0.5em;
    position: relative;
    font-size: inherit;
}
.servers a:hover {
    background-color: #76ff3326;
    box-shadow: #76ff33 0 0 0 0.125em;
}
.servers a:before{
    -webkit-mask: url('/website/resources/pentagon.svg') center / 14em no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    content:'';
    color: #fff0;
    z-index: -1;
    user-select: none;
    pointer-events: none;
    font-size: inherit;
}
.servers a:after{
    counter-increment: count;
    content: counter(count);
    transform: translateY(10%);
    position: absolute;
    text-decoration: none;
    font: 8em 'Rubik Mono One', sans-serif;
}
.servers a:first-child:after{
    counter-increment: unset;
    content: 'm';
}
#offline:before{background: #ff333380;}
#online:before{background: #76f63380;}
#invite:before{background: #3d96ff80;}
#invite{cursor: help;}
#offline{cursor: not-allowed;}

    /*While server online status checker is not made*/
    .servers a{cursor: pointer !important;}
    .servers a:before {background: #76f63380 !important;}

#online{cursor: pointer;}
.servers a span {
    font: 500 1em Rubik;
    position: absolute;
    margin-bottom: calc(100vh - 10.5em - 50vh);
}
footer {
    display: flex;
    height: 6em;
    flex-flow: row;
    place-content: space-between;
    place-items: center;
    width: calc(100% - 5em);
    margin: 0 2.5em;
    transition: 0.2s;
    position: relative;
}
footer a {cursor: alias;}
img.MTB {
    position: absolute;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    user-select: none;
    -moz-user-select: none;
}
p {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    margin: 0 0 0 3em;
    user-select: none;
    -moz-user-select: none;
}
.social {
    width: 10em;
    height: 6em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social a{
    background: var(--sm) center / 100% no-repeat;
    width: 1.5em;
    height: 1.5em;
    filter: invert(9%) sepia(29%) saturate(2268%) hue-rotate(183deg) brightness(106%) contrast(101%);
}
footer .social a:hover{filter: none;}
#vk {--sm:url('/website/resources/vk.svg');}
#youtube {--sm:url('/website/resources/youtube.svg');}
#discord {--sm:url('/website/resources/discord.svg');}
#github {--sm:url('/website/resources/github.svg');}
@media screen and (orientation: portrait) {
    h1{
        margin-top: 2.25em;
        border-bottom: 1px solid #ffffff40;
        width: 100%;
        transform: unset !important;
    }
    .servers{
        margin-top: 7em;
        grid-template-columns: repeat(2, calc(100vw / 2 - 1.5em));
        grid-template-rows: repeat(5, calc(100vw / 2 - 1.5em));
        height: auto;
    }
    .servers a span {display:none}
    footer{
        width: calc(100% - 2em);
        margin: 0 1em;
    }
    content{overflow-y:scroll;}
    content::-webkit-scrollbar {
        background: #0000;
        width: 0.5em;
    }
    content::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 0.313em;
    }
    content::-webkit-scrollbar-track {background-size: 0.5em;}
    .servers a:before{
        -webkit-mask-size: 36vw;
        height: 37.285vw;
    }
    .servers a:after{font-size: 21vw}
}
@media screen and (min-width: 1280px) and (orientation:landscape), (min-height: 950px) {body {font-size: 1em;}}
@media screen and (min-width: 1220px) and (max-width: 1279px) and (orientation:landscape), (min-height: 900px) and (max-height: 949px) and (orientation:landscape) {body {font-size: 0.95em;}}
@media screen and (min-width: 1160px) and (max-width: 1219px) and (orientation:landscape), (min-height: 864px) and (max-height: 899px) and (orientation:landscape) {body {font-size: 0.9em;}}
@media screen and (min-width: 1100px) and (max-width: 1159px) and (orientation:landscape), (min-height: 810px) and (max-height: 863px) and (orientation:landscape) {body {font-size: 0.85em;}}
@media screen and (min-width: 1024px) and (max-width: 1099px) and (orientation:landscape), (min-height: 768px) and (max-height: 809px) and (orientation:landscape) {body {font-size: 0.8em;}}
@media screen and (min-width: 960px) and (max-width: 1023px) and (orientation: landscape), (min-height: 720px) and (max-height: 767px) and (orientation: landscape) {body {font-size: 0.75em;}}
@media screen and (min-width: 900px) and (max-width: 959px) and (orientation:landscape), (min-height: 680px) and (max-height: 719px) and (orientation:landscape) {body {font-size: 0.7em;}}
@media screen and (min-width: 840px) and (max-width: 899px) and (orientation:landscape), (min-height: 630px) and (max-height: 679px) and (orientation:landscape) {body {font-size: 0.65em;}}
@media screen and (min-width: 760px) and (max-width: 839px) and (orientation:landscape), (min-height: 580px) and (max-height: 629px) and (orientation:landscape) {body {font-size: 0.6em;}}
@media screen and (min-width: 700px) and (max-width: 759px) and (orientation:landscape), (min-height: 530px) and (max-height: 579px) and (orientation:landscape) {body {font-size: 0.55em;}}
@media screen and (min-width: 640px) and (max-width: 699px) and (orientation:landscape), (min-height: 480px) and (max-height: 529px) and (orientation:landscape) {body {font-size: 0.5em;}}
@media screen and (min-width: 580px) and (max-width: 639px) and (orientation:landscape), (min-height: 440px) and (max-height: 479px) and (orientation:landscape) {body {font-size: 0.45em;}}
@media screen and (min-width: 510px) and (max-width: 579px) and (orientation:landscape), (min-height: 390px) and (max-height: 439px) and (orientation:landscape) {body {font-size: 0.4em;}}
@media screen and (min-width: 480px) and (max-width: 509px) and (orientation:landscape), (min-height: 0px) and (max-height: 389px) and (orientation:landscape) {body {font-size: 0.35em;}}
@media screen and (min-width: 100px) and (max-width: 479px) and (orientation:landscape), (min-height: 0px) and (max-height: 389px) and (orientation:landscape) {body {font-size: 0.3em;}}
@media (orientation:portrait) {
    body{font-size: 0.75em;}
    .flags{
        transform: scale(1.5);
        transform-origin: center right;
    }
    .flagChooseLST{
        transform: scale(1.5);
        transform-origin: top right;
        top: calc(5em - 2px);
    }
}
