article {
    display: flex;
    margin: 4em auto;
    min-height: calc(100vh - 8em);
    width: 100vh;
    outline: 1px solid red;
    flex-direction: column;
}
h1 {
    font-family: 'Uni Sans Special';
    font-size: 4em;
    margin: 0.2em 0.5em 0 0.5em;
    color: red;
}
h2 {
    margin: 0 calc(4em/3);
    padding-bottom: 0.2em;
    color: red;
    font-size: 1.5em;
    font-family: 'Uni Sans';
}
h3 {
    font-size: 1em;
    font-family: 'Uni Sans';
    color: red;
    margin: 0.25em 2em;
}
h3:first-of-type {margin-top: 0.5em;}
h1::selection, h2::selection, h3::selection{background:red;color:white}
a {color: red;}
a:hover {color: white;}
hr {
    width: calc(100% - 4em);
    background: red;
    border: 0;
    height: 1px;
    margin: 0 2em;
}
li {
    text-decoration: underline;
    font-family: 'Uni Sans Special';
    color: red;
}
li::marker{font-size: 0;}
.install {
    font-size: 1.5em;
    position: absolute;
    top: 3.75em;
    right: calc(50vw - 50vh + 1.275em);
    width: fit-content;
    background: red;
    border-radius: 0.25em;
    border: 0.1em solid red;
    color: white;
    padding: 0.1em 0.115em 0 0.15em;
    font-family: 'Uni Sans';
    text-decoration-color: #0000;
}
img {
    width: 75vh;
    margin: 0.2em 12.5vh;
}
p {
    width: calc(100% - 5em);
    font-size: 0.8em;
    margin: 0 2.5em;
    color: #f00;
    font-family: 'Uni Sans';
    text-align: center;
}

.install:hover {
    text-decoration-color: white;
}
/*Adaptive UI for portrait screens*/
@media screen and (orientation: portrait) {
    article {
        width: calc(100vw - 2em);
        margin: auto 1em;
    }
    .install {display: none;}
    img {
        width: 75vw;
        margin: 0.2em calc(12.5vw - 1em);
    }
}
