@font-face {font-family: "Uni Sans Special"; src:url("/resources/Uni Sans Special.ttf") format("truetype");}
body {
    display: flex;
    flex-flow: column;
    place-content: space-between;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    color: #fff;
    font-family: 'Rubik';
    font-size: max(min(1.48148vh, 1vw), 3px);
    font-variant: no-common-ligatures;
    position: relative;
    background: radial-gradient(50% 100% at 50% 100%, #395673 0%, #001926 100%);
}

@supports(height: 100dvh) {
    body {height: 100dvh;}
}

@media (orientation:portrait) {
    body{
        font-size: max(min(1.77778vh, 1vw) * 1.25, 3px);
    }
}

#modal {
    width:100%;
    height:0;
    z-index:9;
    position:relative;
}

div.wpchoose {
    display: none;
    flex-flow: column wrap;
    align-content: flex-start;
    padding: 1em 1em 0.25em;
    gap: 1em;
    position: fixed;
    inset: 0;
    background: radial-gradient(50% 100% at 50% 100%, #395673 0%, #001926 100%);
    background-attachment: fixed;
    overflow-y: hidden;
    border-bottom: 0.5em solid #0000;
}

div.wpchoose.open{
    display: flex;
}

div.wpchoose .wptablo {
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 6em;
    box-sizing: border-box;
    z-index: 1;
}

div.wpchoose button.wpup {
    font-size: 1em;
    width: 2.5em;
    height: 2.5em;
    padding: 0;
    border: 0;
    border-radius: 0.25em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22.0607 7.93934C22.6464 8.52513 22.6464 9.47487 22.0607 10.0607L13.0607 19.0607C12.4749 19.6464 11.5251 19.6464 10.9393 19.0607L1.93934 10.0607C1.35355 9.47487 1.35355 8.52513 1.93934 7.93934C2.52513 7.35355 3.47487 7.35355 4.06066 7.93934L10.5 14.3787L10.5 1.5C10.5 0.671572 11.1716 -4.95181e-07 12 -4.5897e-07C12.8284 -4.22758e-07 13.5 0.671572 13.5 1.5L13.5 14.3787L19.9393 7.93934C20.5251 7.35355 21.4749 7.35355 22.0607 7.93934Z' fill='%23bfd5ff' style='&%2310; transform: rotate(180deg);&%2310; transform-origin: center 9.75px;&%2310;'/%3E%3Crect y='21' width='24' height='3' rx='1.5' fill='%23bfd5ff'/%3E%3C/svg%3E") center / 1em no-repeat;
    cursor: pointer;
    border: 0.0625em solid #ffffff40;
    position: absolute;
    right: 15em;
}

div.wpchoose button.wpup:hover{
    box-shadow: #bfd5ff 0 0 0 0.125em;
}

.wptablo h1.wptext {
    display: flex;
    place-items: center;
    place-content: center;
    position: absolute;
    font: 700 2.5em 'Rubik';
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 0.608em 0;
    margin: 0;
    cursor: default;
    user-select: none;
    pointer-events: none;
}

div.wpchoose button.wpclose {
    font-size: 1em;
    width: 6em;
    height: 6em;
    padding: 0;
    border: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='96' height='96' viewBox='0 0 96 96' fill='none'%3E%3Cpath d='M60 32L64 36L48 52L36 64L32 60L44 48L32 36L36 32L48 44L60 32Z' fill='%23bcd2ff'/%3E%3Cpath d='M48 52H56L64 60L60 64L48 52Z' fill='%23bcd2ff'/%3E%3C/svg%3E") center / cover no-repeat;
    cursor: pointer;
}

div.wptablo button.wpclose:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='96' height='96' viewBox='0 0 96 96' fill='none'%3E%3Cpath d='M60 32L64 36L48 52L36 64L32 60L44 48L32 36L36 32L48 44L60 32Z' fill='white'/%3E%3Cpath d='M48 52H56L64 60L60 64L48 52Z' fill='white'/%3E%3C/svg%3E");
}

.wpvariant {
    aspect-ratio: 16 / 9;
    height: calc((100% - 6em) / 2);
    width: fit-content;
    border-radius: 0.5em;
    box-shadow: #ffffff40 0 0 0 0.0625em;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.wpvariant:nth-child(2n) {
    margin-top: 5em;
}

.wpvariant:hover, .wpvariant:focus-visible {
    box-shadow: #fff 0 0 0 0.125em;
}

.wpvariant>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.wpvariant:after{
    content: '';
    pointer-events: none;
    position: absolute;
    inset: 0;
}

.wpvariant.disabled:after {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21 0L24 3L12 15L3 24L0 21L9 12L0 3L3 0L12 9L21 0ZM12 15H18L24 21L21 24L12 15Z' fill='%23f33'/%3E%3C/svg%3E") calc(100% - 1.5em) calc(100% - 1.5em) / 1.5em no-repeat;
}

.wpvariant.enabled:after {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M32 20.607L29 22.3212V35.9999L22 31.9999V37.6787L32 43.3929L42 37.6787V31.9999L35 35.9999V22.3212L32 20.607ZM46 25.7409C46 24.6643 45.4231 23.6703 44.4884 23.1362L33.4884 16.8505C32.5661 16.3234 31.4339 16.3234 30.5116 16.8505L19.5116 23.1362C18.5769 23.6703 18 24.6643 18 25.7409V38.259C18 39.3356 18.5769 40.3296 19.5116 40.8637L30.5116 47.1494C31.4339 47.6765 32.5661 47.6765 33.4884 47.1494L44.4884 40.8637C45.4231 40.3296 46 39.3356 46 38.259V25.7409Z' fill='%2376FF33'/%3E%3C/svg%3E") 100% 100% / 4em no-repeat;
}

#modal .errors{
    display: flex;
    flex-flow: column-reverse wrap;
    gap: 0.9375em;
    position: fixed;
    bottom: 2em;
    right: 1.875em;
    user-select: none;
}

#modal .error {
    display: flex;
    flex-flow: column wrap;
    gap: 0.6em;
    background: #f66;
    width: 22.75em;
    height: auto;
    border-radius: 0.5em;
    padding: 0.6em 0.45em;
    box-sizing: border-box;
    border: 1px solid #ffffff40;
    animation: 1s linear 2s 1 normal forwards running error;
}

#modal .warning{
    display: flex;
    flex-flow: column wrap;
    gap: 0.6em;
    background: #fc0;
    width: 22.75em;
    height: auto;
    border-radius: 0.5em;
    padding: 0.6em 0.45em;
    box-sizing: border-box;
    border: 1px solid #ffffff40;
    animation: 1s linear 7s 1 normal forwards running error;
}

@keyframes error{
    from{
        opacity: 1;
        pointer-events: all;
    }
    to{
        opacity: 0;
        pointer-events: none;
        display: none;
    }
}

#modal :is(.error, .warning) h2 {
    color: black;
    font: 500 1.125em 'Rubik';
    text-transform: uppercase;
    margin: 0;
}

#modal :is(.error, .warning) p {
    color: black;
    font: 400 1em 'Rubik';
    margin: 0;
}

.preloader{
    background: radial-gradient(50% 100% at 50% 100%, #395673 0%, #001926 100%);
    position: fixed;
    width: 100%;
    height: 100%;
    animation: 0.2s linear 0s 1 normal forwards paused preloader;
    z-index: 12;
}

.preloader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 128px;
    height: 124px;
    object-fit: contain;
}

.preloader .progress {
    position: absolute;
    bottom: 40px;
    @media screen and (max-width: 640px), (max-height: 480px) {bottom: 20px;}
    height: 30px;
    width: 320px;
    mix-blend-mode: lighten;
    background: url('/resources/launcher/tanki-preloader-progress.gif') no-repeat;
    background-size: contain;
    transform: translateX(-50%);
    left: 50%;
}

.preloader .loading-text {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font: 400 16px/30px Rubik;
    text-transform: uppercase;
    @media screen and (max-width: 640px), (max-height: 480px) {bottom: 40px;}
}

@keyframes preloader{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    99%{
        opacity: 0.01;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}

.wallpapers {
    pointer-events: none;
    opacity: 0.75;
}

div.wallpaper.first {
    animation: 30s linear 0s infinite normal forwards running wpfirst;
    background-image: url('/resources/launcher/background_spacetanx.webp');
}

div.wallpaper.second {
    animation: 30s linear 0s infinite normal forwards running wpsecond;
    background-image: url('/resources/launcher/background_old.webp');
}

div.wallpaper.third {
    animation: 30s linear 0s infinite normal forwards running wpthird;
    background-image: url('/resources/launcher/background_lasershark.webp');
}

@keyframes wpfirst{
    0%{
        opacity: 1;
        z-index: 0;
    }

    33.333333%{
        opacity: 1;
        z-index: 0;
    }

    41.666667%{
        opacity: 0;
        z-index: 0;
    }

    83.333333%{
        opacity: 0;
        z-index: 0;
    }

    91.666667%{
        opacity: 0;
        z-index: 3;
    }
    100%{
        opacity: 1;
        z-index: 3;
    }
}

@keyframes wpsecond{
    0%{
        opacity: 0;
        z-index: 1;
    }

    25%{
        opacity: 0;
        z-index: 1;
    }

    33.333333%{
        opacity: 1;
        z-index: 1;
    }

    66.666667%{
        opacity: 1;
        z-index: 1;
    }

    75%{
        opacity: 0;
        z-index: 1;
    }

    100%{
        opacity: 0;
        z-index: 1;
    }
}

@keyframes wpthird{
    0%{
        opacity: 0;
        z-index: 2;
    }

    58.333333%{
        opacity: 0;
        z-index: 2;
    }

    66.666667%{
        opacity: 1;
        z-index: 2;
    }

    100%{
        opacity: 1;
        z-index: 2;
    }
}

div.wallpaper {
    position: fixed;
    inset: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    transition: width 0.2s, height 0.2s;
    height: 6em;
    position: relative;
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 6em;
    height: 6em;
    cursor: pointer;
    background: url('/resources/icoTankiOnline.svg') center / 6em;
}

header h1 {
    display: flex;
    place-items: center;
    place-content: center;
    position: absolute;
    font: 700 2.5em 'Rubik';
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 0.608em 0;
    margin: 0;
    cursor: default;
    user-select: none;
    pointer-events: none;
}

button.fsb {
    backdrop-filter: blur(3.125em);
    background-color: unset;
    width: 2.5em;
    height: 2.5em;
    border: 0.0625em solid rgba(255, 255, 255, 0.25);
    border-radius: 0.25em;
    padding-block: 0;
    padding-inline: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1em;
    outline: 0 !important;
}

button.fsb:hover, button.fsb:focus-visible, span.flags:focus-visible {
    box-shadow: #ffffff 0 0 0 0.125em;
    background: none;
    outline: 0;
}

header button.fsb::before {
    content: '';
    position: absolute;
    inset: 0px;
    backdrop-filter: blur(3.125em);
    pointer-events: none;
    z-index: 0;
}

button.fsb::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M0 2C0 0.895431 0.89543 0 2 0H7.5L0 7.5V2Z' fill='%23bcd2ff'/%3E%3Cpath d='M0 22C0 23.1046 0.89543 24 2 24H7.5L0 16.5V22Z' fill='%23bcd2ff'/%3E%3Cpath d='M22 24C23.1046 24 24 23.1046 24 22V16.5L16.5 24H22Z' fill='%23bcd2ff'/%3E%3Cpath d='M24 2C24 0.895431 23.1046 0 22 0H16.5L24 7.5V2Z' fill='%23bcd2ff'/%3E%3C/svg%3E") center / 1.25em no-repeat;
}

button.fsb.full::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M7.5 5.5C7.5 6.60461 6.60449 7.5 5.5 7.5H0L7.5 0V5.5Z' fill='%23bcd2ff'/%3E%3Cpath d='M7.5 18.5C7.5 17.3954 6.60449 16.5 5.5 16.5H0L7.5 24V18.5Z' fill='%23bcd2ff'/%3E%3Cpath d='M16.5 18.5C16.5 17.3954 17.3955 16.5 18.5 16.5H24L16.5 24V18.5Z' fill='%23bcd2ff'/%3E%3Cpath d='M16.5 5.5C16.5 6.60461 17.3955 7.5 18.5 7.5H24L16.5 0V5.5Z' fill='%23bcd2ff'/%3E%3C/svg%3E");
}

header button.wallpaper {
    width: 6em;
    height: 6em;
    position: relative;
    padding: 0;
    font-size: 1em;
    border: 0;
    background: 0;
    cursor: pointer;
}

header button.wallpaper::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.2' viewBox='0 0 2240 2400' width='224' height='240'%3E%3Cpath d='m640 2080.1c0-102.5-40.7-200.7-113.1-273.2l-206.9-206.8-206.8 206.8c-69.3 69.3-109.5 162.1-112.9 259.7-3.6 86.3 27.5 173.8 93.4 239.7 125 125 327.6 125 452.5 0 62.5-62.4 93.8-144.3 93.8-226.2z' fill='%23bcd2ff'/%3E%3Cpath fill-rule='evenodd' d='m1393 366.6l800.2 800.3c62.4 62.5 62.4 163.8 0 226.3l-800 800c-30 30-70.7 46.9-113.1 46.9-42.5 0-83.2-16.9-113.2-46.9l-800-800c-30-30-46.9-70.7-46.9-113.2 0-42.4 16.9-83.1 46.9-113.1 381.1-381.1 761.9-762.4 1143-1143.5 31.2-31.2 81.9-31.2 113.1 0 31.2 31.3 31.2 81.9 0 113.2zm-112.9 113.3l-800.1 800.1h1600z' fill='%23bcd2ff'/%3E%3C/svg%3E") center / 1.75em no-repeat;
}

header button.wallpaper:hover::after {
    filter: brightness(2);
}

.flags {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    place-items: center;
    place-content: center;
    gap: 0.5em;
    position: absolute;
    top: 1.75em;
    right: 9.25em;
    width: 5em;
    min-height: 2.5em;
    height: fit-content;
    padding: 0 0.7em;
    border: 0.0625em solid #ffffff40;
    border-radius: 0.25em;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
}

.flags:hover{
    box-shadow: #fff 0 0 0 0.125em;
}

header .flags:before{
    content: '';
    position: absolute;
    inset: 0;
    backdrop-filter: blur(3.125em);
    z-index: 0;
    pointer-events: none;
    border-radius: 0.25em;
}

.flags:after{
    content: '';
    position: absolute;
    top: 0.9375em;
    right: 0.7em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 2.79289C0.683417 2.40237 1.31658 2.40237 1.70711 2.79289L6 7.08579L10.2929 2.79289C10.6834 2.40237 11.3166 2.40237 11.7071 2.79289C12.0976 3.18342 12.0976 3.81658 11.7071 4.20711L6.70711 9.20711C6.31658 9.59763 5.68342 9.59763 5.29289 9.20711L0.292893 4.20711C-0.0976311 3.81658 -0.0976311 3.18342 0.292893 2.79289Z' fill='%23bfd5ff'/%3E%3C/svg%3E") center / contain no-repeat;
    width: 0.813em;
    height: 0.75em;
}

.flags.open:after{
    rotate: 180deg;
}

flag {
    background: var(--flag) left center / 1.5em no-repeat;
    padding: 0;
    width: 1.5em;
    position: absolute;
    left: 0.7em;
    top: 0.15625em;
    z-index: 0;
}

.flagChooseLST > a, flag {
    display: flex;
    height: 2em;
    width: 100%;
    padding: 0 0.7em;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.flagChooseLST {
    backdrop-filter: blur(0.313em);
    display: none;
    flex-flow: column;
    gap: 1px;
    width: 4.847em;
    margin-top: 2.625em;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    border-top: 0.0625em solid #ffffff40;
    z-index: 1;
}

.flags.open>.flagChooseLST{display: flex;}

.flagChooseLST > a::before {
    content: '';
    background: var(--flag) center / 1.5em no-repeat;
    width: 1.5em;
    height: 2em;
}

.flagChooseLST > a:hover{background-color: #ffffff1a;}

.flagChooseLST > a.usa::after {content: 'β' !important;}

:is(.flagChooseLST > a, flag).usa{--flag: url('/resources/usa.png');}
:is(.flagChooseLST > a, flag).rus{--flag: url('/resources/rus.png');}

.window {
    margin: auto;
    padding: 1em;
    box-shadow: #ffffff40 0 0 0 0.0625em;
    border-radius: 0.5em;
    width: 21.5em;
    display: grid;
    grid-template-columns: auto 2.3275em;
    gap: 0.5em;
    position: relative;
    user-select: none;
    z-index: 0;
}

.window>:not(h1)::before {
    content: '';
    border-radius: 0.5em;
    position: absolute;
    inset: 0;
    background: rgb(191 213 255 / 7.5%);
    backdrop-filter: blur(3.125em);
    z-index: -1;
}

.window h1 {
    grid-column: 1 / 3;
    margin: 0;
    font-size: 1.5em;
}

.select {
    height: 1.185em;
    border: 0.0625em solid #ffffff1a;
    border-radius: 0.5em;
    background: #ffffff0d;
    padding: 0.5em;
    color: #fff;
    font: 500 1em 'Rubik';
    margin-top: 0;
    cursor: pointer;
    position: relative;
}

div#reset {
    position: relative;
    border: 0.0625em solid #ffffff1a;
    border-radius: 0.5em;
    background: #ffffff0d url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.2' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='m23.9 13.2c-1.1-3.2-4.2-5.5-7.9-5.5-2.5 0-4.7 1.1-6.3 2.8q-0.4 0.4-0.7 0.9h-4.2c0.5-1.3 1.3-2.5 2.3-3.5 2.2-2.4 5.4-3.9 8.9-3.9 5.7 0 10.5 3.9 11.8 9.2h2.2l-4.7 5.6-4.6-5.6zm-15.9 5.6c1.2 3.2 4.3 5.5 7.9 5.5 2.5 0 4.8-1.1 6.3-2.8q0.4-0.4 0.7-0.9h4.2c-0.5 1.3-1.3 2.5-2.2 3.5-2.3 2.4-5.4 3.9-9 3.9-5.7 0-10.5-3.9-11.8-9.2h-2.2l4.7-5.6 4.7 5.6z' fill='%23fff'/%3E%3C/svg%3E") center / 1.25em no-repeat;
    cursor: pointer;
}

div.off#reset{
    opacity: 0.5;
    pointer-events: none;
    box-shadow: none;
}

.select:nth-of-type(2) {
    margin: 0;
    grid-column: 1 / 2;
    padding-right: 1.75em;
}

.select:nth-of-type(1):not(.selected)~:is(.select, div#accadd){
    opacity: 0.5;
    pointer-events: none;
    box-shadow: none;
}

.select:hover, .select:focus-visible, .select.open, div#accadd:hover, div#accadd:focus-visible, #reset:not(.off):hover, #reset:not(.off):focus-visible {
    box-shadow: #fff 0 0 0 0.125em;
    outline: 0;
}

.select::after {
    content: '';
    background-color: #bfd5ff;
    width: 0.813em;
    height: 0.75em;
    mask: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KCTxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIgoJCSAgZD0iTTAuMjkyODkzIDIuNzkyODlDMC42ODM0MTcgMi40MDIzNyAxLjMxNjU4IDIuNDAyMzcgMS43MDcxMSAyLjc5Mjg5TDYgNy4wODU3OUwxMC4yOTI5IDIuNzkyODlDMTAuNjgzNCAyLjQwMjM3IDExLjMxNjYgMi40MDIzNyAxMS43MDcxIDIuNzkyODlDMTIuMDk3NiAzLjE4MzQyIDEyLjA5NzYgMy44MTY1OCAxMS43MDcxIDQuMjA3MTFMNi43MDcxMSA5LjIwNzExQzYuMzE2NTggOS41OTc2MyA1LjY4MzQyIDkuNTk3NjMgNS4yOTI4OSA5LjIwNzExTDAuMjkyODkzIDQuMjA3MTFDLTAuMDk3NjMxMSAzLjgxNjU4IC0wLjA5NzYzMTEgMy4xODM0MiAwLjI5Mjg5MyAyLjc5Mjg5WiIKCQkgIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=') center / contain no-repeat;
    position: absolute;
    right: 0.5em;
    top: 0.75em;
}

.options {
    display: none;
    flex-flow: column nowrap;
    position: absolute;
    top: calc(2.25em - 0.0625em);
    left: 0;
    right: 0;
    background: #0019261a;
    box-shadow: #ffffff1a 0 0 0 0.0625em;
    border-radius: 0.5em;
    backdrop-filter: blur(3.125em);
    z-index: 9;
    max-height: 20em;
    overflow-y: auto;
}

.options::-webkit-scrollbar, div.wpchoose::-webkit-scrollbar {
    width: 1.5em;
    height: 1.5em;
}

.options::-webkit-scrollbar-thumb, div.wpchoose::-webkit-scrollbar-thumb {
    background: #fff3 content-box;
    border: 0.5em solid #0000;
    border-radius: 1.5em;
}

.options::-webkit-scrollbar-thumb:hover, div.wpchoose::-webkit-scrollbar-thumb:hover {background-color: #ffffff40;}

.options::-webkit-scrollbar-track, div.wpchoose::-webkit-scrollbar-track {
    background: none;
    margin: 0 0.5em;
}
            
.options .option {
    display: flex;
    padding: 0.25em;
    margin: 0 0.25em;
    border-radius: 0.25em;
}
            
.options .option:first-child {margin-top: 0.25em;}
            
.options .option:last-child {margin-bottom: 0.25em;}

.options .option:hover {background: #ffffff1a;}

.option.offline {color: #ff3333;}

.option.invite{color: #3d96ff;}

.option.online{color: #76f633;}

.option.unknown{color: #3d96ff;}

.select.open>.options {display: flex;}

#accselect>:first-child{margin-top: 0.25em;}

#accselect>:last-child{margin-bottom: 0.25em;}

span.option.selected {
    display: flex;
    max-width: 100%;
    height: 1.25em;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: anywhere;
}

input.accinput {
    display: none;
    grid-column: 1 / 2;
    height: 1.185em;
    border: 0.0625em solid #ffffff1a;
    border-radius: 0.5em;
    background: linear-gradient(rgb(191 213 255 / 7.5%), rgb(191 213 255 / 7.5%)) #ffffff0d;
    backdrop-filter: blur(3.125em);
    padding: 0.5em;
    color: #fff;
    font: 500 1em 'Rubik';
    margin-top: 0;
    cursor: text;
    position: relative;
    box-shadow: #fff 0 0 0 0.125em;
    outline: 0;
}

input.accinput.open{
    display: flex;
}

input.accinput.open+.select{
    display: none;
}

input.accinput.open~#play{
    opacity: 0.5 !important;
    pointer-events: none !important;
}

div#accadd {
    position: relative;
    border: 0.0625em solid #ffffff1a;
    border-radius: 0.5em;
    background: #ffffff0d url("data:image/svg+xml,%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='20' height='20'%3E%3Cpath fill='%23fff' d='m8 0h4v8h8v4h-20v-4h8zm4 12v8h-4v-4z'/%3E%3C/svg%3E%0A") center / 1em no-repeat;
    cursor: pointer;
}

#play {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 3;
    font: 700 1em 'Rubik';
    color: #001926;
    height: 3em;
    border-radius: 0.5em;
    background-color: #fff;
    box-shadow: #bfd5ff80 0 0 0 0.0625em;
    border: 0;
    cursor: pointer;
    position: relative;
    outline: 0 !important;
    text-transform: uppercase;
}

:is(div:nth-of-type(1):not(.open), div:nth-of-type(1):not(.selected) ~ div:nth-of-type(3).open) ~ #play:not([href=""]):is(:hover, :focus-visible){
    background-color: #76f633;
    box-shadow: #76f63380 0 0 0 0.0625em;
}

.select.selected ~ .select.open ~ #play, .select.open:not(.selected) ~ .select ~ #play{
    pointer-events: none !important;
}

:is(:not([href]), [href=""])#play {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

a {
    color: #fff;
    user-select: auto;
    text-decoration: none;
}

footer {
    display: flex;
    height: 6em;
    flex-flow: row;
    place-content: space-between;
    place-items: center;
    width: calc(100% - 5em);
    margin: 0 2.5em;
    transition: 0.2s;
    position: relative;
}

footer a {cursor: alias;}

img.MTB {
    position: absolute;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    user-select: none;
    -moz-user-select: none;
    pointer-events: none;
}

img.MTB {
    width: 0;
    height: 0;
    padding: 1.5em;
    background: url("/resources/MakeTankiBetter_logo.svg") center / 3.25em no-repeat;
    border-radius: 0;
}

footer p {
    display: grid;
    gap: 0 0.25em;
    grid-auto-flow: dense;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    font: 500 1.3em Rubik;
    line-height: 1;
    margin: 0 0 0 3em;
    user-select: none;
    -moz-user-select: none;
}

a.MTB {
    grid-column: 1 / 4;
    font-family: "Uni Sans Special";
    line-height: 1.2;
    background: #e02e2e;
    text-decoration: none;
    -moz-user-select: none;
    user-select: none;
    width: min-content;
}

a.MTB:focus-visible {
    color: #e02e2e;
    background: #fff;
    outline: 0;
}

footer p :not(.MTB){
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}

footer .social {
    width: 10em;
    height: 6em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social a{
    background: var(--sm) center / 100% no-repeat;
    width: 1.5em;
    height: 1.5em;
    filter: invert(9%) sepia(29%) saturate(2268%) hue-rotate(183deg) brightness(106%) contrast(101%);
}

#vk {--sm:url('/resources/vk.svg');}
#youtube {--sm:url('/resources/youtube.svg');}
#discord {--sm:url('/resources/discord.svg');}
#github {--sm:url('/resources/github.svg');}